{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container margin">
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Bienvenue !</h1>
                <p>Administrer les vidéos et les bandes sons</p>
                <p><a href="{{ path('videosList') }}" class="btn btn-lg btn-primary">Videos</a>
                    <a href="{{ path('soundsList') }}" class=" btn btn-lg btn-primary">Musiques</a></p>
                <p>Ajouter une vidéo ou une bande son</p>
                <p><a href="{{ path('addVideo') }}" class="btn btn-lg btn-primary">Ajouter une vidéo</a>
                    <a href="{{ path('addsound') }}" class=" btn btn-lg btn-primary">Ajouter une bande son</a></p>
            </div>
        </div>
    </div>
{% endblock %}