{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container margin">
        <form>
            <fieldset class="form-group">
                <label for="_name">Titre de la musique</label>
                <input type="text" class="form-control" id="_name" value="{{ sound.name }}">
            </fieldset>
            <fieldset class="form-group">
                <label for="_compositeur">Compositeur</label>
                <input type="text" class="form-control" id="_compositeur" value="{{ sound.compositeur }}">
            </fieldset>
            <fieldset class="form-group">
                <label for="_realisation_annee">Année de réalisation</label>
                <input type="text" class="form-control" value="{{ sound.realisationAnnee }}" id="_realisation_annee" placeholder="Another input">
            </fieldset>
            <button class="btn btn-primary" type="submit">OK</button>
        </form>
    </div>

{% endblock %}

