{% extends 'base.html.twig' %}

{% block body %}
    <div class="concept">
        <h1>ost sensitive</h1>
        <p>La musique modère ou exacerbe nos émotions.
            Elle peut manipuler notre ressenti par rapport aux images visionnées.
            Depuis plus d’un siècle, le cinéma a compris sa portée émotionnelle.
            <br><br>
            Et si nous brisions la dramaturgie?</p>
        <button class="begin"><a href="{{ path('start') }}">Commencer l'expérience</a></button>
    </div>

{% endblock %}
