{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-inner-wrapper">
        <div class="cover-container ">
            <div class="inner cover ">
                <h1 class="cover-heading">OST SENSITIVE</h1>
                <p class="lead">La musique modère ou exacerbe nos émotions.
                    Elle peut manipuler notre ressenti par rapport aux images visionnées.
                    Depuis plus d’un siècle, le cinéma a compris sa portée émotionnelle.
                </p>
                <p class="lead">Mais si nous mélangions les bandes sons?<br>
                    Et si nous brisions la dramaturgie?</p>
                <p class="lead"><a href="" class="custom-button btn btn-lg">COMMENCER L'EXPERIENCE</a></p>
            </div>
        </div>
    </div>

{% endblock %}
