{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome to the Video:list page</h1>

    {% for video in videos %}

        <h4>{{ video.name }}</h4>
        <img src="../../videos/products_video/{{ video.urlVideo }}" alt="">
        <span>{% for sound in video.sounds %}{{ sound.name }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}</span>

    {% endfor %}

{% endblock %}



