{% extends 'base.html.twig' %}
{% block class %}class="scene"{% endblock %}
{% block body %}

    <h2 class="choose">Choisissez votre film préféré et créez votre propre bande son</h2>


    <div id="imageSlider">
        <div id="prev">
            <img src="img/ico/left.png" width="10px" />
        </div>
        <div id="next">
            <img src="img/ico/right.png" width="10px" />
        </div>
        <div id="sliderWrapper">

            {% for video in videos %}
                <a href="{{ path('startExtrait', {'id': video.id })}}"><img src="{{ asset('videos/products_thumbnail/' ~ video.thumbnailName) }}" alt=""></a>
            {% endfor %}
        </div>
    </div>

                {#{% for video in videos %}#}

                    {#<span>{% for sound in video.sounds %}{{ sound.name }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}</span>#}
                {#{% endfor %}#}



{% endblock %}



